:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --section-heading: clamp(2.6rem, 5vw, 3.2rem);
  --secondary-heading: clamp(2.4rem, 5vw, 2.8rem);
  --p-text: clamp(1.8rem, 2.5cqi, 2.4rem);

  --check: 3px solid pink;
  --slider-bg: #FF322C;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

body {
 max-width: 128rem;
 background-color: #e5e7eb;
 color: #e5e7eb;

 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}
ul {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {

    outline: 4px auto -webkit-focus-ring-color;
  }
}

h2 {
  font-size: var(--section-heading);
}

p {
  font-size: var(--p-text);
  text-wrap-style: balance;
}

.half-vp {
  height: 50svh;
}
.full-vp {
  height: 100svh;
}

.wrapper {
  position: relative;
  /* CHANGE LATER: mke the height to be dynamic depending on the provided list */
  height: 500svh; /* each of the 5 items * 100svh */
  display: grid;
  /* I had to specify a fixed size for the first column so the other one with a width 
      of -svw wouldn't take over the other content space, it will do so when using -fr unit*/
  grid-template-columns: 35rem 1fr;
  padding-inline: 6rem;
  border: var(--check);
}

.sticky-side {
  position: sticky;
  top: 2rem;
  /*3 is the number of shown labels at once*/
  max-height: calc(9rem * 3); 
  overflow: hidden;

  background-color: palevioletred;

  border: var(--check);
  border-color: royalblue;
}


.label-list {
  display: flex;
  flex-direction: column;
  margin-block: 9rem;

  transform: translate3d(0, 0, 0);
  transition: all 0.4s ease-in;

  h2 {
    height: 9rem;
    opacity: 0.3;
    transition: all 0.4s ease-in;
  }

}

.description-list {
  height: 100%;
  /* width: 100svw; 
    tis quest was helpful to achieve the desired behaviour I was looking for,
    I wanted the flex container's width to not be specified, but to take its own space from the children's
  */
  display: inline-flex;
  align-items: center;

  transition: all 0.4s ease-in;

  border: var(--check);
  border-color: yellow;

  > * {
    width: 60svw;
    border: var(--check);
   
  }
}

.white-text {
  color: orange;
}
